[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-moment = "*"
flask-socketio = "*"
gevent = "*"
gevent-websocket = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
rope = "*"
mypy = "*"
