body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.comment-list {
	max-height: 300px;
	overflow-y: auto;
}
.comment-form {
	text-align: left;
	padding: 3rem 1.5rem;
}